
@{
    ViewBag.Title = "Unauthorized";
}

<h2>You are not authorized to view this page.</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Get, new { ReturnUrl = Request.Params[0] }))
{
    <input type="submit" value="Log in as another user" class="btn btn-primary" />
}
