
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="well col-md-12">

    <ul>
        <li>@Html.ActionLink("Add a global food item", "Create", "Foods")</li>
        <li>@Html.ActionLink("View a list of deleted forum posts", "RemovedPosts", "Posts")</li>
    </ul>

</div>

